@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
body{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(234, 12%, 34%);
    background-color: hsl(0, 0%, 98%);
    border-radius:5px;

}
img{
    float:right;
    margin-right:50px ;
}
/*headers*/
.header-paragraph{
    color: hsl(229, 6%, 66%);
}
.header{
    text-align: center;
}
.one{
    margin-top: 75px;
    font-weight: 200;
    color:hsl(229, 6%, 66%);
}
.header-paragraph{
    text-align: center;
}
/*containers*/
.container{
    display:flex;
    justify-content:center;
    gap: 100px;
    font-weight: 400;
    align-items: center;
    
}

.container-2{
    display:flex;
    flex-direction: column;
    gap: 50px;
}
.container-super,.container-karma,.container-builder,.container-calc{
    width: 350px;
    background-color: white;
    padding-left: 20px;
    
}
.container-header{
    color: hsl(234, 12%, 34%);
}
.container-para{
color:    hsl(229, 6%, 66%);
}
.container-super{
    border-top: 5px solid cyan;
    border-radius: 5px;
}
.container-builder{
    border-radius: 5px;
    border-top: 5px solid red;
}
.container-calc{
border-top: 5px solid blue;
border-radius: 5px;
}
.container-karma{
    border-top:5px solid orange ;
border-radius: 5px;
}

