@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
body{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}
img{
    float:right;
}
/*containers*/
.container{
    display:flex;
    padding: 50px 100px 50px 200px;
    gap: 100px;
    font-weight: 400;
    align-items: center;
    
}
.header{
    text-align: center;
}
.one{
    margin-top: 75px;
    font-weight: 200;
}
.paragraph{
    text-align: center;
}
.container-2{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.container-1-1,.container-2,.container-4{
    background-color:white;
    
}

